openapi: 3.1.0
info:
  title: Daily REST CallTransfer Recordings API
  description: REST API for managing Daily domains, rooms, meeting tokens, recordings, transcripts, meetings, participants, presence, batch operations, dial-in/dial-out (PSTN/SIP), webhooks, live streaming, and phone numbers. Authenticated with a Bearer API key.
  version: 1.0.0
servers:
- url: https://api.daily.co/v1
  description: Daily REST API base URL
security:
- bearerAuth: []
tags:
- name: Recordings
paths:
  /recordings:
    get:
      tags:
      - Recordings
      summary: List recordings
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: room_name
        schema:
          type: string
      responses:
        '200':
          description: Recordings
  /recordings/{id}:
    parameters:
    - in: path
      name: id
      required: true
      schema:
        type: string
    get:
      tags:
      - Recordings
      summary: Get recording details
      responses:
        '200':
          description: Recording
    delete:
      tags:
      - Recordings
      summary: Delete recording
      responses:
        '200':
          description: Deleted
  /recordings/{id}/access-link:
    get:
      tags:
      - Recordings
      summary: Generate recording download link
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Access link
  /rooms/{name}/recordings/start:
    post:
      tags:
      - Recordings
      summary: Start recording in room
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Started
  /rooms/{name}/recordings/update:
    post:
      tags:
      - Recordings
      summary: Update recording in room
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
  /rooms/{name}/recordings/stop:
    post:
      tags:
      - Recordings
      summary: Stop recording in room
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Stopped
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key passed as a Bearer token in the Authorization header.
