openapi: 3.1.0
info:
  title: Daily REST CallTransfer LiveStreaming API
  description: REST API for managing Daily domains, rooms, meeting tokens, recordings, transcripts, meetings, participants, presence, batch operations, dial-in/dial-out (PSTN/SIP), webhooks, live streaming, and phone numbers. Authenticated with a Bearer API key.
  version: 1.0.0
servers:
- url: https://api.daily.co/v1
  description: Daily REST API base URL
security:
- bearerAuth: []
tags:
- name: LiveStreaming
paths:
  /rooms/{name}/live-streaming/start:
    post:
      tags:
      - LiveStreaming
      summary: Start live streaming in room
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Started
  /rooms/{name}/live-streaming/update:
    post:
      tags:
      - LiveStreaming
      summary: Update live streaming
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
  /rooms/{name}/live-streaming/stop:
    post:
      tags:
      - LiveStreaming
      summary: Stop live streaming
      parameters:
      - in: path
        name: name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Stopped
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key passed as a Bearer token in the Authorization header.
